@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.titulo-boas{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-boas h1{
    font-size: 24pt;
    font-weight: 800;
    color: black;
}

.titulo-boas p{
    font-size: 16pt;
    font-weight: 500;
    color: #696969;
    text-decoration: solid underline;
}

.logo-site{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-site img{
    width: 80%;
}

.logo-site p{
    font-size: 11pt;
    font-weight: bolder;
    color: #454545;
}

.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.field-login{
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    background-color: #FFF;
    box-shadow: 10px 10px 10px 10px #0000001a;
}

.field-login-input{
    width: 100%;
    height: 4rem;
}

.field-login-input input{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    outline: none;
    font-size: 14pt;
    font-weight: 800;
    color: #454545;
    box-shadow: 6px 6px 6px #0000001a;
    border: 3px solid black
}

.field-login-input input::placeholder{
    font-style: normal;
    font-weight: 600;
    font-size: 14pt;
    color: #A4A4A4;
}

.field-link{
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.field-link a{
    font-size: 14pt;
    font-weight: 600;
    color: #007AFF;
}

.actions{
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.actions input{
    width: 100%;
    height: 4rem;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 14pt;
    font-weight: 800;
    color: #fff;
    background-color: #007AFF;
    box-shadow: 6px 6px 6px #0000001a;
    transition: 0.5s ease all;
}

.alert-danger{
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.alert-danger p{
    font-size: 14pt;
    font-weight: 600;
    color: #FF3B30;
    transition: 0.5s ease all;
}

.notice-login{
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.col-text{
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.col-text h1{
    color: #007AFF;
    font-size: 24pt;
    font-weight: 800;
}

.col-text p{
    color: #696969;
    font-size: 14pt;
    font-weight: bolder;
}

.field-esqueceu-input{
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.field-esqueceu-input input{
    width: 100%;
    height: 4rem;
    border-radius: 15px;
    outline: none;
    font-size: 14pt;
    font-weight: 800;
    color: #454545;
    box-shadow: 6px 6px 6px #0000001a;
    border: 3px solid black
}

.actions-esqueceu{
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.actions-esqueceu input{
    width: 100%;
    height: 4rem;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 14pt;
    font-weight: 800;
    color: #fff;
    background-color: #007AFF;
    box-shadow: 6px 6px 6px #0000001a;
    transition: 0.5s ease all;
}

.container-form img{
    margin-top: 50px;
    width: 100%;
}

.field-login-es{
    flex-direction: column;
    width: 100%!important;
    border-radius: 20px;
    padding: 20px;
    background-color: #FFF;
    box-shadow: 10px 10px 10px 10px #0000001a;
}

.btn-voltar a{
    font-size: 14pt;
    font-weight: 800;
    color: black;
    text-decoration: none;
}

.titulo-reset{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-reset h1{
    font-size: 24pt;
    font-weight: 800;
    color: #007AFF;
}

.container-form img{
    margin-top: 50px;
    width: 300px;
}

.nav-dash{
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 10px!important;
    justify-content: space-between;
    background-color: #007AFF;
}

.nav-dash a{
    font-size: 14pt;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
}

.nav-dash a:hover{
    color: #fff;
    text-decoration: none;
}

.dropdown-menu{
    background-color: #007AFF!important;
}

.dropdown-item{
    color: #fff!important;
}

.dropdown-item:hover{
    color: #fff!important;
    background-color: #00428A!important;
}

.card-fat{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.card-OS{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.card-fat-info{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.Title-fat{
    text-align: center;
    width: 100%;
    font-size: 24pt;
    font-weight: 800;
    color: black;
}

.faturamento-info{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.faturamento-item-valor{
    width: 20rem;
    height: 9rem;
    background-color: green;
    border-radius: 15px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 6px #0000001a;;
}

.faturamento-item-pen{
    width: 20rem;
    height: 9rem;
    background-color: #FF3B30;
    border-radius: 15px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 6px #0000001a;

}

.faturamento-item-pen p{
    font-size: 18pt;
    font-weight: 800;
    color: #fff;
    gap: 10px;
}

.faturamento-item-valor p{
    font-size: 18pt;
    font-weight: 800;
    color: #fff;
}

.faturamento-item{
    width: 20rem;
    height: 9rem;
    background-color: #00428A;
    border-radius: 15px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 6px #0000001a;
}

.faturamento-item p{
    font-size: 18pt;
    font-weight: 800;
    color: #fff;
}

.list-OS{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.Title-OS{
    width: 60%;
    font-size: 24pt;
    font-weight: 800;
    color: #007AFF;
}

.Sub-title-OS{
    text-align: start;
    width: 100%;
    font-size: 14pt;
    font-weight: 800;
    color: #696969;
}

.card-list-OS{
    justify-content: center;
    align-items: center;
}

.list-item{
    border: 3px solid #00428A;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px!important;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 6px 6px 6px #0000001a;
    margin: 10px;
}

.list-item:hover{
    cursor: pointer;
}

.list-item p{
    font-size: 14pt;
    font-weight: 800;
    color: #696969;
}

.list-item strong{
    font-size: 20pt;
    font-weight: 800;
    color: black;
}

.list-item a{
    border-radius: 10px;
    border: 3px solid black;
    background-color: #FFF;
    font-size: 12pt;
    font-weight: 800;
    color: #007AFF;
    text-decoration: none;
    padding: 8px;
}

.card-desc{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.card-desc a{
    color: #FFF;
    border-radius: 10px;
    background-color: #007AFF;
    font-size: 12pt;
    font-weight: 800;
    text-decoration: none;
    padding: 8px;
}

.select-filter{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.filter-title{
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 14pt;
    font-weight: 800;
    color: #007AFF;
}

.form-select{
    width: 30rem!important;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-info{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-info h1{
    font-size: 24pt;
    font-weight: 800;
    color: #007AFF;
}

.header-info p{
    font-size: 14pt;
    font-weight: 800;
    color: #696969;
}

.card-CL{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.Detalhes-cliente{
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: 6px 6px 6px 6px #0000001a;
    border-radius: 15px;
    padding: 20px;
    border: 3px solid #00428A;
}

.item{
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Label{
    font-size: 14pt;
    font-weight: 800;
    color: #454545;
}

.Detalhes-cliente p{
    font-size: 14pt;
    font-weight: 800;
    color: #696969;
}

.container-info{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.card-title{
    width: 100%;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

.card-title h3{
    font-size: 24pt;
    font-weight: 800;
    color: #007AFF;
}

.card-title a{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 14pt;
    font-weight: 800;
    color: #696969;
    text-decoration: none;
}

.btn-can-put{
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.btn-can-put a{
    margin: 10px;
}

.confirmation-box{
    display: flex;
    width: 300px;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.confirmation-box p{
    font-size: 14pt;
    font-weight: 800;
    color: #454545;
}

.button-container{
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    display: flex;
}

.button-container button{
    margin: 10px;
    width: 100%;
    height: 2rem;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 14pt;
    font-weight: 800;
    color: #fff;
    box-shadow: 6px 6px 6px #0000001a;
}

.btn-yes{
    background-color: green;
}

.btn-no{
    background-color: #FF3B30;
}

.form-add{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.form-add input{
    width: 100%;
    height: 4rem;
    border-radius: 15px;
    outline: none;
    font-size: 14pt;
    font-weight: 800;
    color: #454545;
    box-shadow: 6px 6px 6px #0000001a;
    border: 3px solid black
}

.form-add label{
    font-style: normal;
    font-weight: 600;
    font-size: 14pt;
    color: #00428A;
}

.selecionador{
    width: 100%;
    height: 4rem;
    border-radius: 15px!important;
    outline: none;
    font-size: 14pt!important;
    font-weight: 800!important;
    color: #454545!important;
    box-shadow: 6px 6px 6px #0000001a;
    border: 3px solid black!important;
}

.form-add textarea{
    width: 100%;
    height: 10rem;
    border-radius: 15px;
    outline: none;
    font-size: 14pt;
    font-weight: 800;
    color: #454545;
    box-shadow: 6px 6px 6px #0000001a;
    border: 3px solid black
}