.alert{
    margin: 0 auto;
    text-align: center;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: red;
}

.notice{
    margin: 0 auto;
    text-align: center;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: green;
}

.info-top{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 4%;
    padding: 10px;
}

.info-top a{
    color: black;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 8px;
}

.info-top h3{
    color: #007AFF;
    font-size: 14pt;
    font-weight: 800;
    text-decoration: none;
}

.Detalhes-peca{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item{
    width: 80%;
}

.item strong{
    color: #6F6F6F;
    font-size: 10pt;
    font-weight: bold;
}

.item p{
    color: black;
    font-size: 12pt;
    font-weight: 800;
    border-radius: 10px;
    border: 2px solid black;
    padding: 15px;
}

.btn-can-put{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 4%;
    padding: 10px;

}

.btn-can-put a{
    color: white;
    background-color: #4F9D00;
    font-size: 12pt;
    padding: 12px;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
}

.btn-can-put button{
    border: none;
    color: white;
    background-color: #CB0000;
    font-size: 12pt;
    padding: 12px;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
}

.cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 4%;
}

.card-info a{
    color: white;
    background-color: #007AFF;
    font-size: 10pt;
    padding: 12px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

.card-info h1{
    color: #000000;
    font-size: 16pt;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

.list{
    display: flex;
    flex-direction: column;
    border: 2px solid #393939;
    border-radius: 10px;
    padding: 9px;
}

.Title{
    color: #00428A;
    font-size: 16pt;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

.list-item{
    display: flex;
    align-items: center;    
    border: 2px solid #CDCDCD;
    border-radius: 6px;
    margin: 6px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: 800;
}

.item2{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 4px;
}

.item2 a{
    color: #007AFF;
    font-size: 10pt;
    padding: 8px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

.item2 strong{
    color: #454545;
    font-size: 10pt;
    font-weight: 800;
}

.item2 p{
    color: #00428A;
    font-size: 10pt;
    font-weight: 800;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

.container-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.container h1{
    color: black;
    font-size: 18pt;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

.container p{
    color: #696969;
    font-size: 12pt;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.field{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.field input{
    width: 21.626rem;
    height: 2.876rem;
    padding: 12px;
    border: 2px solid #000000;
    color: #000000;
    border-radius: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    margin-top: 20px;
    transition: border 0.3s ease-in-out;
}

.field input:focus{
    outline: none;
    border: 2px solid #007AFF;
    transition: border 0.3s ease-in-out;
}

.field input::placeholder{
    color: #A4A4A4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
}

.field, .actions{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.actions input{
    width: 21.626rem;
    height: 3.76rem;
    flex-shrink: 0;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    border-radius: 1.125rem;
    background-color: #007AFF;
    border: none;
    padding: 12px;
    margin-top: 40px;
    transition: color 0.3s ease-in-out,transform 0.3s ease-in-out;
}

.actions input:hover{
    background: #00428A;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: scale(1.1);
}

.actions input:active{
    background-color: #00428A;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: matrix3d(1, 0, 0, 0, 0.1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
}

.field-link{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.field-link a{
    color: #9F9F9F;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    transition: color 0.3s ease-in-out;
    transition: font-size 0.3s ease-in-out;
}

.field-link a:hover{
    font-size: 1rem;
    color: #007AFF;
    animation: none;
    transition: color font-size 0.3s ease-in-out;
}

.div-logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 160px;
}

.div-logo img{
    width: 100%;
    max-width: 20em;
    height: auto;
}

.div-logo p{
    color: #454545;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: center;
    margin-top: 20px;
}

.notice-login{
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-style: bold;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    padding: 10px;
    color: red;
}

.field-color-cliente{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.field-color-cliente input{
    width: 10.600rem;
    height: 2.876rem;
    padding: 12px;
    border: 2px solid #000000;
    color: #000000;
    border-radius: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    margin-top: 20px;
    transition: border 0.3s ease-in-out;
}

.field-b label{
    background-color: #FFFFFF;
    color: #000000;
    font-size: 14pt;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    align-items: center;
    display: flex;
    text-align: right;
}

.field-color-cliente input::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
}

.field-color-cliente input:focus{
    outline: none;
    border: 2px solid #007AFF;
    transition: border 0.3s ease-in-out;
}

.field-color-cliente select{
    background-color: #FFFFFF;
    width: 10.600rem;
    height: 2.876rem;
    padding: 8px;
    border: 2px solid #000000;
    color: #000000;
    border-radius: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    margin-top: 20px;
    transition: border 0.3s ease-in-out;
    margin-left: 4px;
}

.confirmation-box{
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.confirmation-box p{
    width: 100%;
    color: black;
    font-size: 14pt;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}

.button-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4%;
    padding: 10px;
}

.btn-yes{
    width: 30vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 10px;
    color: white;
    background-color: green;
    font-size: 12pt;
    font-weight: 700;
    border-radius: 10px;
    border: none;
}

.btn-no{
    width: 30vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 10px;
    color: white;
    background-color: red;
    font-size: 12pt;
    font-weight: 700;
    border-radius: 10px;
    border: none;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
}

footer p{
    color: #696969;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 10px;
}

.container-peca{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.field-add-cliente{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.field-add-cliente a{
    color: #00428A;
    font-size: 10pt;
    font-style: normal;
    font-weight: 800;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    transition: color 0.3s ease-in-out;
}

.field-add-cliente a:hover{
    color: #007AFF;
    transition: color 0.3s ease-in-out;
}

.field-add-cliente p{
    color: #696969;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-style: normal;
    font-weight: 800;
    padding: 10px;
    margin: 0;
}

.field label{
    color: #696969;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: right;
    margin-right: 10px;
}

.field-c{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.field-c input{
    width: 21.626rem;
    height: 2.876rem;
    padding: 12px;
    border: 2px solid #000000;
    color: #000000;
    border-radius: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    transition: border 0.3s ease-in-out;
}

.field-c input:focus{
    outline: none;
    border: 2px solid #007AFF;
    transition: border 0.3s ease-in-out;
}

.field-c input::placeholder{
    color: #A4A4A4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
}

.field-c label{
    background-color: #FFFFFF;
    color: #6F6F6F;
    font-size: 10pt;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    align-items: center;
    display: flex;
    text-align: right;
}

.test form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Detalhes-veiculo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}