.alert{
    margin: 0 auto;
    text-align: center;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: red;
}

.notice{
    margin: 0 auto;
    text-align: center;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: green;
}