<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
     
    </style>
  </head>

  <body>
    <h1>Recuperação de Senha</h1>
    <p>Olá <%= @user.Nome %>,</p>
    <p>Você solicitou a recuperação de senha. Seu código é: <%= @codigo %></p>
    <p>Se você não solicitou essa recuperação, ignore este e-mail.</p>
  </body>
</html>